<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.essential.find.dao.SpecialAutoMapper" >
  <resultMap id="BaseResultMap" type="com.essential.find.model.auto.SpecialAuto" >
    <id column="special_id" property="specialId" jdbcType="BIGINT" />
    <result column="special_group_id" property="specialGroupId" jdbcType="BIGINT" />
    <result column="special_name" property="specialName" jdbcType="VARCHAR" />
    <result column="thumbnail_path" property="thumbnailPath" jdbcType="VARCHAR" />
    <result column="readcount" property="readcount" jdbcType="BIGINT" />
    <result column="special_type" property="specialType" jdbcType="INTEGER" />
    <result column="video_path" property="videoPath" jdbcType="VARCHAR" />
    <result column="isvideo" property="isvideo" jdbcType="INTEGER" />
    <result column="background_path" property="backgroundPath" jdbcType="VARCHAR" />
    <result column="maintitle" property="maintitle" jdbcType="VARCHAR" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="special_content" property="specialContent" jdbcType="VARCHAR" />
    <result column="classify_ids" property="classifyIds" jdbcType="VARCHAR" />
    <result column="brand_ids" property="brandIds" jdbcType="VARCHAR" />
    <result column="activite_address" property="activiteAddress" jdbcType="VARCHAR" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="contact_user" property="contactUser" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="contact_tel" property="contactTel" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="send_time" property="sendTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    special_id, special_group_id, special_name, thumbnail_path, readcount, special_type, 
    video_path, isvideo, background_path, maintitle, subtitle, special_content, classify_ids, 
    brand_ids, activite_address, deadline, contact_user, contact_phone, contact_tel, 
    create_user_id, create_time, modify_user_id, modify_time, is_delete, send_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_find_special
    where special_id = #{specialId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_find_special
    where special_id = #{specialId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.essential.find.model.auto.SpecialAuto" >
    insert into t_find_special (special_id, special_group_id, special_name, 
      thumbnail_path, readcount, special_type, 
      video_path, isvideo, background_path, 
      maintitle, subtitle, special_content, 
      classify_ids, brand_ids, activite_address, 
      deadline, contact_user, contact_phone, 
      contact_tel, create_user_id, create_time, 
      modify_user_id, modify_time, is_delete, 
      send_time)
    values (#{specialId,jdbcType=BIGINT}, #{specialGroupId,jdbcType=BIGINT}, #{specialName,jdbcType=VARCHAR}, 
      #{thumbnailPath,jdbcType=VARCHAR}, #{readcount,jdbcType=BIGINT}, #{specialType,jdbcType=INTEGER}, 
      #{videoPath,jdbcType=VARCHAR}, #{isvideo,jdbcType=INTEGER}, #{backgroundPath,jdbcType=VARCHAR}, 
      #{maintitle,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, #{specialContent,jdbcType=VARCHAR}, 
      #{classifyIds,jdbcType=VARCHAR}, #{brandIds,jdbcType=VARCHAR}, #{activiteAddress,jdbcType=VARCHAR}, 
      #{deadline,jdbcType=TIMESTAMP}, #{contactUser,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, 
      #{contactTel,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyUserId,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}, 
      #{sendTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.essential.find.model.auto.SpecialAuto" >
    insert into t_find_special
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="specialId != null" >
        special_id,
      </if>
      <if test="specialGroupId != null" >
        special_group_id,
      </if>
      <if test="specialName != null" >
        special_name,
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path,
      </if>
      <if test="readcount != null" >
        readcount,
      </if>
      <if test="specialType != null" >
        special_type,
      </if>
      <if test="videoPath != null" >
        video_path,
      </if>
      <if test="isvideo != null" >
        isvideo,
      </if>
      <if test="backgroundPath != null" >
        background_path,
      </if>
      <if test="maintitle != null" >
        maintitle,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="specialContent != null" >
        special_content,
      </if>
      <if test="classifyIds != null" >
        classify_ids,
      </if>
      <if test="brandIds != null" >
        brand_ids,
      </if>
      <if test="activiteAddress != null" >
        activite_address,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
      <if test="contactUser != null" >
        contact_user,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="contactTel != null" >
        contact_tel,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="specialId != null" >
        #{specialId,jdbcType=BIGINT},
      </if>
      <if test="specialGroupId != null" >
        #{specialGroupId,jdbcType=BIGINT},
      </if>
      <if test="specialName != null" >
        #{specialName,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="readcount != null" >
        #{readcount,jdbcType=BIGINT},
      </if>
      <if test="specialType != null" >
        #{specialType,jdbcType=INTEGER},
      </if>
      <if test="videoPath != null" >
        #{videoPath,jdbcType=VARCHAR},
      </if>
      <if test="isvideo != null" >
        #{isvideo,jdbcType=INTEGER},
      </if>
      <if test="backgroundPath != null" >
        #{backgroundPath,jdbcType=VARCHAR},
      </if>
      <if test="maintitle != null" >
        #{maintitle,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="specialContent != null" >
        #{specialContent,jdbcType=VARCHAR},
      </if>
      <if test="classifyIds != null" >
        #{classifyIds,jdbcType=VARCHAR},
      </if>
      <if test="brandIds != null" >
        #{brandIds,jdbcType=VARCHAR},
      </if>
      <if test="activiteAddress != null" >
        #{activiteAddress,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="contactUser != null" >
        #{contactUser,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null" >
        #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.essential.find.model.auto.SpecialAuto" >
    update t_find_special
    <set >
      <if test="specialGroupId != null" >
        special_group_id = #{specialGroupId,jdbcType=BIGINT},
      </if>
      <if test="specialName != null" >
        special_name = #{specialName,jdbcType=VARCHAR},
      </if>
      <if test="thumbnailPath != null" >
        thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      </if>
      <if test="readcount != null" >
        readcount = #{readcount,jdbcType=BIGINT},
      </if>
      <if test="specialType != null" >
        special_type = #{specialType,jdbcType=INTEGER},
      </if>
      <if test="videoPath != null" >
        video_path = #{videoPath,jdbcType=VARCHAR},
      </if>
      <if test="isvideo != null" >
        isvideo = #{isvideo,jdbcType=INTEGER},
      </if>
      <if test="backgroundPath != null" >
        background_path = #{backgroundPath,jdbcType=VARCHAR},
      </if>
      <if test="maintitle != null" >
        maintitle = #{maintitle,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="specialContent != null" >
        special_content = #{specialContent,jdbcType=VARCHAR},
      </if>
      <if test="classifyIds != null" >
        classify_ids = #{classifyIds,jdbcType=VARCHAR},
      </if>
      <if test="brandIds != null" >
        brand_ids = #{brandIds,jdbcType=VARCHAR},
      </if>
      <if test="activiteAddress != null" >
        activite_address = #{activiteAddress,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="contactUser != null" >
        contact_user = #{contactUser,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null" >
        contact_tel = #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=VARCHAR},
      </if>
    </set>
    where special_id = #{specialId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.essential.find.model.auto.SpecialAuto" >
    update t_find_special
    set special_group_id = #{specialGroupId,jdbcType=BIGINT},
      special_name = #{specialName,jdbcType=VARCHAR},
      thumbnail_path = #{thumbnailPath,jdbcType=VARCHAR},
      readcount = #{readcount,jdbcType=BIGINT},
      special_type = #{specialType,jdbcType=INTEGER},
      video_path = #{videoPath,jdbcType=VARCHAR},
      isvideo = #{isvideo,jdbcType=INTEGER},
      background_path = #{backgroundPath,jdbcType=VARCHAR},
      maintitle = #{maintitle,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      special_content = #{specialContent,jdbcType=VARCHAR},
      classify_ids = #{classifyIds,jdbcType=VARCHAR},
      brand_ids = #{brandIds,jdbcType=VARCHAR},
      activite_address = #{activiteAddress,jdbcType=VARCHAR},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      contact_user = #{contactUser,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      contact_tel = #{contactTel,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=VARCHAR}
    where special_id = #{specialId,jdbcType=BIGINT}
  </update>
  
  <select id="selectSpecialList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	select * from t_find_special where is_delete = 0
  	<!-- 判断groupId是否为0,为0则为全部 --> 
  	<if test="groupId != 0">
  		<![CDATA[and special_group_id = #{groupId,jdbcType=BIGINT}]]>
  	</if>
  	
  	<choose>
  		<when test="requestType == '0'.toString()"></when>
  		<when test="requestType == '1'.toString()">
  			<![CDATA[and send_time > #{sendTime,jdbcType=VARCHAR}]]>
  		</when>
  		<when test="requestType == '2'.toString()">
  			<![CDATA[and send_time < #{sendTime,jdbcType=VARCHAR}]]>
  		</when>
  	</choose>
  	
    	ORDER BY send_time DESC limit 10
  </select>
</mapper>