<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.essential.bussiness.shopcart.dao.ShopCartAutoMapper" >
  <resultMap id="BaseResultMap" type="com.essential.bussiness.shopcart.model.auto.ShopCartAuto" >
    <id column="shopcart_id" property="shopcartId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="product_sku_id" property="productSkuId" jdbcType="BIGINT" />
    <result column="product_count" property="productCount" jdbcType="INTEGER" />
    <result column="is_selected" property="isSelected" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
    <result column="modify_user" property="modifyUser" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
  </resultMap>
  
  <resultMap id="ProductSkuResultMap" type="com.essential.bussiness.product.model.auto.ProductSkuAuto" >
    <result column="productsku_id" property="productskuId" jdbcType="BIGINT" />
    <result column="specificationid1" property="specificationid1" jdbcType="BIGINT" />
    <result column="specificationid2" property="specificationid2" jdbcType="BIGINT" />
    <result column="specificationid3" property="specificationid3" jdbcType="BIGINT" />
    <result column="specificationid4" property="specificationid4" jdbcType="BIGINT" />
    <result column="productsku_count" property="productskuCount" jdbcType="BIGINT" />
    <result column="article_number" property="articleNumber" jdbcType="VARCHAR" />
    <result column="prices" property="prices" jdbcType="DECIMAL" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="create_iser" property="createIser" jdbcType="BIGINT" />
    <result column="modify_user" property="modifyUser" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="specification_type" property="specificationType" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="SkuShopCartVoResultMap" extends="BaseResultMap" type="com.essential.bussiness.shopcart.model.vo.SkuShopCartVo" >
    <result column="sale_status" property="saleStatus" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="prices" property="prices" jdbcType="DECIMAL" />
    <result column="productSkuIsDeleted" property="productSkuIsDeleted" jdbcType="INTEGER" />
    <result column="productSpuIsDeleted" property="productSpuIsDeleted" jdbcType="INTEGER" />
    <result column="productsku_count" property="productskuCount" jdbcType="BIGINT" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Base_Column_List" >
    shopcart_id, user_id, product_sku_id, product_count, is_selected, is_deleted, 
    create_time, create_user, modify_time, modify_user, product_id, shop_id
  </sql>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.essential.bussiness.shopcart.model.auto.ShopCartAutoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_bussiness_shopcart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_bussiness_shopcart
    where shopcart_id = #{shopcartId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_bussiness_shopcart
    where shopcart_id = #{shopcartId,jdbcType=BIGINT}
  </delete>
  
  <delete id="deleteByExample" parameterType="com.essential.bussiness.shopcart.model.auto.ShopCartAutoExample" >
    delete from t_bussiness_shopcart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.essential.bussiness.shopcart.model.auto.ShopCartAuto" >
    insert into t_bussiness_shopcart (shopcart_id, user_id, product_sku_id, 
      product_count, is_selected, is_deleted, 
      create_time, create_user, modify_time, 
      modify_user, product_id, shop_id)
    values (#{shopcartId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{productSkuId,jdbcType=BIGINT}, 
      #{productCount,jdbcType=INTEGER}, #{isSelected,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUser,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT})
  </insert>
  
  <insert id="insertSelective" parameterType="com.essential.bussiness.shopcart.model.auto.ShopCartAuto" >
    insert into t_bussiness_shopcart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopcartId != null" >
        shopcart_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="productSkuId != null" >
        product_sku_id,
      </if>
      <if test="productCount != null" >
        product_count,
      </if>
      <if test="isSelected != null" >
        is_selected,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="productId != null" >
        productId,
      </if>
      <if test="shopId != null" >
        shopId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopcartId != null" >
        #{shopcartId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="productSkuId != null" >
        #{productSkuId,jdbcType=BIGINT},
      </if>
      <if test="productCount != null" >
        #{productCount,jdbcType=INTEGER},
      </if>
      <if test="isSelected != null" >
        #{isSelected,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.essential.bussiness.shopcart.model.auto.ShopCartAutoExample" resultType="java.lang.Integer" >
    select count(*) from t_bussiness_shopcart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update t_bussiness_shopcart
    <set >
      <if test="record.shopcartId != null" >
        shopcart_id = #{record.shopcartId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.productSkuId != null" >
        product_sku_id = #{record.productSkuId,jdbcType=BIGINT},
      </if>
      <if test="record.productCount != null" >
        product_count = #{record.productCount,jdbcType=INTEGER},
      </if>
      <if test="record.isSelected != null" >
        is_selected = #{record.isSelected,jdbcType=INTEGER},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUser != null" >
        modify_user = #{record.modifyUser,jdbcType=BIGINT},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=BIGINT},
      </if>
      <if test="record.shopId != null" >
        shop_id = #{record.shopId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByExample" parameterType="map" >
    update t_bussiness_shopcart
    set shopcart_id = #{record.shopcartId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      product_sku_id = #{record.productSkuId,jdbcType=BIGINT},
      product_count = #{record.productCount,jdbcType=INTEGER},
      is_selected = #{record.isSelected,jdbcType=INTEGER},
      is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=VARCHAR},
      modify_user = #{record.modifyUser,jdbcType=BIGINT},
      product_id = #{record.productId,jdbcType=BIGINT},
      shop_id = #{record.shopId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.essential.bussiness.shopcart.model.auto.ShopCartAuto" >
    update t_bussiness_shopcart
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="productSkuId != null" >
        product_sku_id = #{productSkuId,jdbcType=BIGINT},
      </if>
      <if test="productCount != null" >
        product_count = #{productCount,jdbcType=INTEGER},
      </if>
      <if test="isSelected != null" >
        is_selected = #{isSelected,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
    </set>
    where shopcart_id = #{shopcartId,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.essential.bussiness.shopcart.model.auto.ShopCartAuto" >
    update t_bussiness_shopcart
    set user_id = #{userId,jdbcType=BIGINT},
      product_sku_id = #{productSkuId,jdbcType=BIGINT},
      product_count = #{productCount,jdbcType=INTEGER},
      is_selected = #{isSelected,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=VARCHAR},
      modify_user = #{modifyUser,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      shop_id = #{shopId,jdbcType=BIGINT}
    where shopcart_id = #{shopcartId,jdbcType=BIGINT}
  </update>
  
  <update id="updateProductCountByPrimaryKey" parameterType="map" >
    update t_bussiness_shopcart
    set product_count = #{productCount,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=VARCHAR},
      modify_user = #{modifyUser,jdbcType=BIGINT}
    where shopcart_id = #{shopcartId,jdbcType=BIGINT}
  </update>
  
  <select id="selectProductCountByShopCartId" resultMap="ProductSkuResultMap" parameterType="java.lang.Long" >
  	SELECT b.productsku_id, b.specificationid1, b.specificationid2, b.specificationid3, b.specificationid4, 
    		b.productsku_count, b.article_number, b.prices, b.product_id, b.is_delete, b.create_time, b.create_iser, 
    		b.modify_user, b.modify_time, b.status, b.specification_type
     FROM t_bussiness_shopcart a
					LEFT JOIN t_bussiness_productsku b
						ON a.product_sku_id = b.productsku_id
	WHERE a.shopcart_id = #{shopcartId,jdbcType=BIGINT}
  </select>
  <select id="queryTotalAndShopSelectedProductPriceByUserId" resultType="map" parameterType="java.lang.Long" >
  	<![CDATA[ SELECT a.shop_id AS shopId,SUM(a.product_count*b.prices) AS selectedProductPriceForShop,
  				SUM(a.product_count) AS shopProductCount FROM t_bussiness_shopcart a
				LEFT JOIN t_bussiness_productsku b
							 ON a.product_sku_id = b.productsku_id
			WHERE a.user_id = #{userId,jdbcType=BIGINT} AND a.is_deleted <> '1' AND a.is_selected = '1'
			GROUP BY a.shop_id
			]]>
  </select>
  <select id="selectCountIsSeelctForShopByUserId" resultType="int" parameterType="java.lang.Long" >
  	<![CDATA[ SELECT COUNT(shop_id) FROM t_bussiness_shopcart 
  		WHERE user_id = #{userId,jdbcType=BIGINT} 
  		AND shop_id = #{shopId,jdbcType=BIGINT}
  		AND is_deleted <> '1' 
  		AND is_selected <> '1'
  		]]>
  </select>
  
  <update id="updateIsSelectSelective"  parameterType="com.essential.bussiness.shopcart.model.auto.ShopCartAuto" >
    update t_bussiness_shopcart
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="productSkuId != null" >
        product_sku_id = #{productSkuId,jdbcType=BIGINT},
      </if>
      <if test="productCount != null" >
        product_count = #{productCount,jdbcType=INTEGER},
      </if>
      <if test="isSelected != null" >
        is_selected = #{isSelected,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
    </set>
    <where>
    	<if test="userId != null" >
        	and user_id = #{userId,jdbcType=BIGINT}
      	</if>
      	<if test="isDeleted != null" >
        	and is_deleted = #{isDeleted,jdbcType=INTEGER}
      	</if>
      	<if test="shopId != null" >
        	and shop_id = #{shopId,jdbcType=BIGINT}
      	</if>
      	<if test="shopcartId != null">
      		and shopcart_id = #{shopcartId,jdbcType=BIGINT}
      	</if>
    </where>
  </update>
  
  <select id="selectProductIsSelect" resultType="java.util.HashMap" parameterType="java.util.HashMap" >
  	select a.product_count as productCount,b.productsku_id AS productskuId, b.productsku_count AS productskuCount, b.prices AS prices,
  			 b.product_id AS productId, b.is_delete AS isDelete, b.`status` AS status,c.sale_status AS saleStatus
     FROM t_bussiness_shopcart a
					LEFT JOIN t_bussiness_productsku b
						ON a.product_sku_id = b.productsku_id
					LEFT JOIN t_bussiness_product c
						ON b.product_id = c.product_id
	<where>
    	<if test="userId != null" >
        	and a.user_id = #{userId,jdbcType=BIGINT}
        	and a.is_selected = 1
      	</if>
      	<if test="isDeleted != null" >
        	and a.is_deleted = #{isDeleted,jdbcType=INTEGER}
      	</if>
      	<if test="shopId != null" >
        	and a.shop_id = #{shopId,jdbcType=BIGINT}
      	</if>
      	<if test="shopcartId != null" >
      		and a.shopcart_id = #{shopcartId,jdbcType=BIGINT}
      	</if>
    </where>
  </select>
  
  <select id="selectSkuShopCartVoByExample" resultMap="SkuShopCartVoResultMap" parameterType="com.essential.bussiness.shopcart.model.auto.ShopCartAutoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_bussiness_shopcart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectSkuShopCartVoByPrimaryKey" resultMap="SkuShopCartVoResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_bussiness_shopcart
    where shopcart_id = #{shopcartId,jdbcType=BIGINT}
  </select>
  
  <update id="updateBySkuShopCartVoPrimaryKeySelective" parameterType="com.essential.bussiness.shopcart.model.vo.SkuShopCartVo" >
    update t_bussiness_shopcart
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="productSkuId != null" >
        product_sku_id = #{productSkuId,jdbcType=BIGINT},
      </if>
      <if test="productCount != null" >
        product_count = #{productCount,jdbcType=INTEGER},
      </if>
      <if test="isSelected != null" >
        is_selected = #{isSelected,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
    </set>
    where shopcart_id = #{shopcartId,jdbcType=BIGINT}
  </update>
  
  <update id="updateNoSalingProduct" parameterType="com.essential.bussiness.shopcart.model.auto.ShopCartAuto" >
    <![CDATA[ update t_bussiness_shopcart tbs,(select a.shopcart_id
     FROM t_bussiness_shopcart a
					LEFT JOIN t_bussiness_productsku b
						ON a.product_sku_id = b.productsku_id
					LEFT JOIN t_bussiness_product c
						ON b.product_id = c.product_id
	where a.user_id = #{userId,jdbcType=BIGINT}  and a.is_selected = 1 and (c.sale_status <> 1 or c.is_delete = 1 or b.is_delete = 1 or a.product_count > b.productsku_count)) ss
 		SET tbs.is_selected = 0  where tbs.shopcart_id = ss.shopcart_id and tbs.user_id = #{userId,jdbcType=BIGINT}
 		]]>
  </update>
  
  <select id="selectSkuShopCartVoByUserId" resultMap="SkuShopCartVoResultMap" parameterType="com.essential.bussiness.shopcart.model.auto.ShopCartAutoExample" >
    select tbs.shopcart_id, tbs.user_id, tbs.product_sku_id, tbs.product_count, tbs.is_selected, tbs.is_deleted, 
    	tbs.create_time, tbs.create_user, tbs.modify_time, tbs.modify_user, tbs.product_id, tbs.shop_id, tbps.is_delete as productSkuIsDeleted,
    	tbp.is_delete as productSpuIsDeleted, tbps.productsku_count
    from t_bussiness_shopcart tbs
   			LEFT JOIN t_bussiness_productsku tbps
					ON tbs.product_sku_id = tbps.productsku_id
			LEFT JOIN t_bussiness_product tbp
					ON tbps.product_id = tbp.product_id
    <where>
      <if test="shopcartId != null" >
        and tbs.shopcart_id = #{shopcartId,jdbcType=BIGINT}
      </if>
      <if test="userId != null" >
        and tbs.user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="productSkuId != null" >
        and tbs.product_sku_id = #{productSkuId,jdbcType=BIGINT}
      </if>
      <if test="productCount != null" >
        and tbs.product_count = #{productCount,jdbcType=INTEGER}
      </if>
      <if test="isSelected != null" >
        and tbs.is_selected = #{isSelected,jdbcType=INTEGER}
      </if>
      <if test="isDeleted != null" >
        and tbs.is_deleted = #{isDeleted,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
        and tbs.create_time = #{createTime,jdbcType=VARCHAR}
      </if>
      <if test="createUser != null" >
        and tbs.create_user = #{createUser,jdbcType=BIGINT}
      </if>
      <if test="modifyTime != null" >
        and tbs.modify_time = #{modifyTime,jdbcType=VARCHAR}
      </if>
      <if test="modifyUser != null" >
        and tbs.modify_user = #{modifyUser,jdbcType=BIGINT}
      </if>
      <if test="productId != null" >
        and tbs.product_id = #{productId,jdbcType=BIGINT}
      </if>
      <if test="shopId != null" >
        and tbs.shop_id = #{shopId,jdbcType=BIGINT}
      </if>
    </where>
  </select>
</mapper>