<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.essential.bussiness.order.dao.OrderStatusItemAutoMapper" >
  <resultMap id="BaseResultMap" type="com.essential.bussiness.order.model.auto.OrderStatusItemAuto" >
    <id column="order_status_item_id" property="orderStatusItemId" jdbcType="INTEGER" />
    <result column="order_status_item_name" property="orderStatusItemName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_status_item_id, order_status_item_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.essential.bussiness.order.model.auto.OrderStatusItemAutoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_bussiness_order_status_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_bussiness_order_status_item
    where order_status_item_id = #{orderStatusItemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_bussiness_order_status_item
    where order_status_item_id = #{orderStatusItemId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.essential.bussiness.order.model.auto.OrderStatusItemAutoExample" >
    delete from t_bussiness_order_status_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.essential.bussiness.order.model.auto.OrderStatusItemAuto" >
    insert into t_bussiness_order_status_item (order_status_item_id, order_status_item_name
      )
    values (#{orderStatusItemId,jdbcType=INTEGER}, #{orderStatusItemName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.essential.bussiness.order.model.auto.OrderStatusItemAuto" >
    insert into t_bussiness_order_status_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderStatusItemId != null" >
        order_status_item_id,
      </if>
      <if test="orderStatusItemName != null" >
        order_status_item_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderStatusItemId != null" >
        #{orderStatusItemId,jdbcType=INTEGER},
      </if>
      <if test="orderStatusItemName != null" >
        #{orderStatusItemName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.essential.bussiness.order.model.auto.OrderStatusItemAutoExample" resultType="java.lang.Integer" >
    select count(*) from t_bussiness_order_status_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_bussiness_order_status_item
    <set >
      <if test="record.orderStatusItemId != null" >
        order_status_item_id = #{record.orderStatusItemId,jdbcType=INTEGER},
      </if>
      <if test="record.orderStatusItemName != null" >
        order_status_item_name = #{record.orderStatusItemName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_bussiness_order_status_item
    set order_status_item_id = #{record.orderStatusItemId,jdbcType=INTEGER},
      order_status_item_name = #{record.orderStatusItemName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.essential.bussiness.order.model.auto.OrderStatusItemAuto" >
    update t_bussiness_order_status_item
    <set >
      <if test="orderStatusItemName != null" >
        order_status_item_name = #{orderStatusItemName,jdbcType=VARCHAR},
      </if>
    </set>
    where order_status_item_id = #{orderStatusItemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.essential.bussiness.order.model.auto.OrderStatusItemAuto" >
    update t_bussiness_order_status_item
    set order_status_item_name = #{orderStatusItemName,jdbcType=VARCHAR}
    where order_status_item_id = #{orderStatusItemId,jdbcType=INTEGER}
  </update>
</mapper>